#content{
    padding-bottom: 100px;
    min-height: 100vh;
}
.header, .main{
    margin-bottom: 15px;
}

.header{
    background: #2aabd2;
}

#main-menu{
    display: flex;
    padding: 0;
    background: #2e6da4;
}

#main-menu li{
    line-height: 50px;
    padding:0 10px 0;
    display: block;
    font-size: 16px;
    color:white;
}

#main-menu li a{
    color:inherit;
}

.cat_img{
    display: block;
    float:left;
}


.footer{
    background: rgb(229,245,236);
    height: 100px;
    margin-top: -100px;
    padding-top: 20px;
}

.clearfix:after{
    content:'';
    clear: both;
    display: block;
}

.breadcrumb ul{
    margin-bottom: 0;
}

.breadcrumb li{
    display: inline-block;
    margin-left: 15px   ;

}

